# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
env/

# Django
db.sqlite3
media/

# VS Code
.vscode/

# Environment Variables
.env

# Static files
staticfiles/

# OS files
.DS_Store
Thumbs.db